<div class="albums__topNav">
    <%= button_to 'ADD NEW', new_album_path, { method: 'get', class: "albums__addButton" } %>
</div>

<table class="albums__table">
  <tr class="albums__tableHeader">
    <th><h3>Title</h3></th>
    <th><h3>Artist</h3></th>
    <th><h3>Details</h3></th>
    <th><h3>Delete</h3></th>
  </tr>
  <% if @albums.length > 0 %>
    <% @albums.each_with_index do |album, i| %>
      <tr class=<%= row_or_alt_row(i) %> >
        <th>
          <%= album.title %>
        </th>
        <th>
          <%= album.artist %>
        </th>
        <th>
          <%= button_to 'MORE >>', album_path(album.id), method: 'get' %>
        </th>
        <th>
          <%= button_to('DELETE', album_path(album.id), method: 'delete', remote: false, data: { confirm: 'Are you sure?' } ) %>
        </th>
      </tr>
    <% end %>
  <% end %>
  <tr class="albums__tableBottom">
  </tr>

</table>

<!-- ########################################################### -->
<!-- Experiment with making check boxes to delete multiples later -->
<%# form_tag(delete_albums_path) do %>
<%# check_box_tag("selected[]", album.id, false, id: "selected_#{i}") %>
<%# end %>
<!-- ########################################################### -->
