<div class="albums__topNav">
  <%= button_to 'Home', root_path, method: 'get', class: "albums__homeButton" %>
</div>

<% if @album.errors.messages.present? %>
  <%= render partial: "errors", locals: { record: @album } %>
<% end %>

<%= form_for @album do |f| %>
  <table class="albums__table">
    <col style="width:50%">
    <col style="width:50%">
    <tr class="albums__tableHeader">
      <th colspan=2>
        <h2>Create New Record</h2>
      </th>
    </tr>
    <tr class="albums__tableRow">
      <th>
        <%= f.label :title %>
      </th>
      <th>
        <%= f.text_field :title, autofocus: true, size: 50 %>
      </th>
    </tr>
    <tr class="albums__tableRowAlt">
      <th>
        <%= f.label :artist %>
      </th>
      <th>
        <%= f.text_field :artist, size: 50 %>
      </th>
    </tr>
    <tr class="albums__tableRow">
      <th>
        <%= f.label :genre %>
      </th>
      <th>
        <%= f.text_field :genre, size: 50 %>
      </th>
    </tr>
    <tr class="albums__tableRowAlt">
      <td>
        all fields required
      </td>
      <td>
        <%= f.submit 'Submit', data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <tr class="albums__tableBottom">
    </tr>
  </table>
<% end %>
